<h2>All Astronauts</h2>

<div id="astronaut_info">
  <ul>
  <% @astronauts.each do |astronaut| %>
    <h3>Name: <%= astronaut.name %></h3>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
    <br>
  <% end %>
  </ul>
</div>

<%= "Average Age: #{@astro_avg_age.round(2)}" %>